.banner-destinos {

    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),

    url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');

    background-size: cover;
    background-position: center;

    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;

    padding: 2rem;
}

.banner-destinos h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner-destinos p {
    max-width: 700px;
    line-height: 1.5;
}

.card-info {
    padding: 1.5rem;
}

.card-info h3 {
    margin-bottom: 1rem;
    color: #004a99;
}

.card-info p {
    color: #666;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.btn-card {

    display: inline-block;

    background-color: #004a99;

    color: white;

    padding: 0.8rem 1.2rem;

    border-radius: 8px;

    text-decoration: none;

    transition: 0.3s;
}

.btn-card:hover {
    background-color: #002d5e;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

@media (max-width: 768px) {

    .banner-destinos h2 {
        font-size: 2rem;
    }

    .banner-destinos {
        height: 40vh;
    }

}